<div class="modal fade", id="login-modal">
  <div class="modal-content">
    <div class="modal-header">
      Enter info below:
    </div>
    <div class="modal-body">
      <%= form_tag do %>
      <div id="login-fields">
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="submits">
        <%= submit_tag "Press Me!" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
