<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>

<%= form_tag do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= submit_tag "Press Me!" %>
  </div>
<% end %>

<%= link_to "Signup", new_user_path %>
