<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="<%= asset_url('film.png') %>
			" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Movie Beer</h1>
			<p>Movie Beer is an app geared towards your alcohol needs.  You enter a movie, we process all of the movie details of
				that movie (the rating) and give you back a recommended beer to go along with that movie.</p>
		</div>
    <button>Learn More</button>
	</div>
</div>



<h1>Movies</h1>

<% @movies.each do |m| %>

	<div class="movie">
	<p><%= m.name %></p>
	<p><%= m.year %></p>
	<p><%= m.director %></p>
	<p><%= m.rating %></p>

	    <%= link_to 'Delete', m, method: :delete, remote: true, class: "delete-movie" %>
	</div>
<% end %>
