<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="<%= asset_url('film.png') %>
			" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Movie Beer</h1>
			<p>Movie Beer is an app geared towards your alcohol needs.  You enter a movie, we process all of the details of
				that movie (the rating) and give you back a recommended beer to go along with that movie.</p>
		</div>
    <button>Learn More</button>
	</div>
</div>

<h1>Movies</h1>
<div class="cards">
<% @movies.each do |m| %>
		<div class="card">
			<div class="card-image">
				<span class="movie-image"><%= image_tag m.get_poster %></span>
			</div>
			<div class="card-header">
	      <%= m.name %>
	    </div>
			<div class="card-copy">
				<p>
					Year: <%= m.year %>
				</p>
				<p> Rating: <%= m.rating %></p>
				<%= link_to 'Delete', m, method: :delete, remote: true, class: "delete-movie" %>
			</div>
		</div>
<% end %>
</div>
