<style> .hero {background-image: url('<%= asset_path @guide.main_image %>'); }</style>

<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<div id="summary">
				<h1>Movie Brew</h1>
				<p>Movie Brew accepts a movie as input and responds by giving you a beer consistent with the movie that you entered. Simply type the movie you are going to watch into the search bar above and submit. sit back, relax, and let movie brew provide the appropriate beer for your movie!</p>
			</div>
		</div>
	</div>
	<span id="quote" class="speech">"<%= @guide.get_quote(@user) %>"</span>
</div>

<% if  @user.just_created? %>
	<div class="modal">
		<input class="modal-state" id="modal-last-beer" type="checkbox" />
		<div class="modal-window">
			<div class="modal-inner">
				<label class="modal-close" for="modal-last-beer"></label>
				<%= render partial: "beer", locals: {beer: @user.get_last_beer, user: @user} %>
			</div>
		</div>
	</div>
<% end %>
	<div id="movie-cards">
		<div class="cards">
		<% @movies.each do |m| %>
			<div class="card">
				<div class="card-image">
					<span class="movie-image"><%= image_tag m.poster %></span>
				</div>
				<div class="card-header">
		      <%= m.name %>
		    </div>
				<div class="card-copy">
					<p>
						Year: <%= m.year %>
					</p>
					<p> Rating: <%= m.rating %></p>
					<p><button><label for="modal-<%= m.beer %>"><i class="fa fa-beer"></i>Movie Beer</label></button></p>
					<div class="modal">
						<input class="modal-state" id="modal-<%= m.beer %>" type="checkbox" />
						<div class="modal-window">
							<div class="modal-inner">
								<label class="modal-close" for="modal-<%= m.beer %>"></label>
								<%= render partial: "beer", locals: {beer: m.beers.first} %>
							</div>
						</div>
					</div>
					<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, m, method: :delete, remote: true, class: "delete-movie" %>
				</div>
			</div>
		<% end %>
		</div>
	</div>
