<h1>Movies</h1>

<% @movies.each do |m| %>

<div class="movie">
<p><%= m.name %></p>
<p><%= m.year %></p>
<p><%= m.director %></p>
<p><%= m.rating %></p>
  <% unless m.actors.nil? %>
   <% m.actors.each do |a| %>
   <p><%= a.name %></p>
   <% end %>
  <% end %>

    <%= link_to "Drink Tally", drink_movie_path(m) %>
    <%= link_to 'Delete', m, method: :delete, remote: true, class: "delete-movie" %>
</div>
<% end %>

<%= link_to "New Movie", new_movie_path %>
