<!DOCTYPE html>
<html>
<head>
  <title>DrinkMachine</title>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if session[:user_id] %>
      <% user = User.find(session[:user_id]) %>
      <%= content_tag(:header, class: "navigation", role: "banner") do %>
          <div class="navigation-wrapper">
            <a href="javascript:void(0)" class="logo">
              <img src='<%= asset_path("clint.png") %>' alt="Logo Image">
            </a>
            <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
            <nav role="navigation">
              <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link <%= 'active' if current_page?(edit_user_path(user)) %>"><%= link_to(edit_user_path(user)) do %>
                  <i class="fa fa-user"></i>
                <% end %>
                </li>
                <li class="nav-link"><%= link_to(sessions_logout_path) do %>
                  <i class="fa fa-sign-out"></i><%= "Logout"%>
                <% end %>
                </li>
                <li class="nav-link <%= 'active-nav-item' if current_page?(movies_path) || current_page?(root_path) %>"><%= link_to(movies_path) do %>
                  <i class="fa fa-play"></i><%= "Movies"%>
                <% end %>
                </li>
                <li class="nav-link <%= 'active-nav-item' if current_page?(beers_path) %>"><%= link_to(beers_path) do %>
                  <i class="fa fa-beer"></i><%= "Beer" %>
                <% end %>
                </li>
                </li>
                </li>
              </ul>
            </nav>
            <div class="navigation-tools">
              <div class="search-bar">
                <%= form_for @movie, html: { class: "navbar-form navbar-left", role: "search" } do |f|%>
                  <div class="form-group">
                    <%= f.text_field :name, class: "form-control", placeholder: "Movie Name" %>
                  </div>
                  <%= f.button nil, id: "submit-movie" %>
                <% end %>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
