<!DOCTYPE html>
<html>
<head>
  <title>DrinkMachine</title>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
    <% if session[:user_id] %>
    <% user = User.find(session[:user_id]) %>
      <%= content_tag(:nav, class: "navbar navbar-default") do %>
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to(sessions_logout_path) do %>
              <span class="glyphicon glyphicon-object-align-left"> </span><%= "Logout!"%>
            <% end %>
            </li>
            <li class="active"><%= link_to(movies_path) do %>
              <span class="glyphicon glyphicon-play"></span><%= "Movies"%>
            <% end %>
            </li>
            <li class="active"><%= link_to(movies_path) do %>
              <i class="fa fa-beer"></i><%= "Beer" %>
            <% end %>
            </li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="user-link">
            <li class="active"><%= link_to(edit_user_path(user)) do %>
              <span class="glyphicon glyphicon-user"></span>
            <% end %>
            </li>
          </ul>
      <% end %>
    <% end %>
  </div>
  <div id="main">
    <%= yield %>


  </div>
</body>
</html>
